body{
	background-image: radial-gradient (círculo al 50 %  -20.71 % ,  # 6fc9f5  0 ,  # 79c7f9  6.25 % ,  # 84c5fb  12.5 % ,  # 90c3fc  18.75 % ,  # 9bc0fc  25 % ,  # a7bdfb  31.25 % ,  # b3bbf9  37.5 % ,  # beb8f6  43,75 % ,  # c8b5f2  50 % , # d2b2ed  56.25 % ,  # dbb0e8  62.5 % ,  # e3ade1  68.75 % ,  # e9abda  75 % ,  # efaad3  81.25 % ,  # f4a8cb  87.5 % ,  # f8a7c3  93.75 % ,  # fba7bc  100 % );
}
h1{
	font-family:'Cormorant Unicase';
	font-size: 40px;
	color:white;
	text-align: center;
	border: 4px dotted #fff9f9;
	padding: 8px;
}
p{
	font-family:'Courgette'
	font-size: 25px;
        text-align: center;
        color: white;
}
img{
	width: 750px;
	height: 550px;
	display:block;
	margin:auto;
}
.imagen1:hover{
  filter: grayscale(90%);
}
.imagen2:hover{
  filter: blur(3px);
}
.imagen3:hover{
  filter: opacity(.5);
}

*{
    margin: 0;
    padding: 0;
}
header{
   width: 100%;
   background: #1ABC9C;
   height: 70px;
}

.ancho{
    widht: 80%;
    height: 70px;
    background: #1ABC9C;
    margin: auto;

}
.logo{
    width: 30%;
    height: 70px;
    background: 1ABC9C;
    float: left;
    padding-top: 10px;
    box-sizing: border=box;
}

.logo p a{
     color: #fff;
     font-size: 40px;
     text-decoration: none;
}
nav{
    widht: 70%;
    height: 70px;
    background: 1ABC9C;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: #444;
}


