body{
	background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
}
h1{
	font-family:'Cormorant Unicase';
	font-size: 40px;
	color:white;
	text-align: center;
	border: 4px dotted #fff9f9;
	padding: 8px;
}
p{
	font-family:'Courgette'
	font-size: 25px;
  text-align: center;
  color: white;
}
img{
	width: 750px;
	height: 550px;
	display:block;
	margin:auto;
}
.imagen1:hover{
  filter: grayscale(90%);
}
.imagen2:hover{
  filter: blur(3px);
}
.imagen3:hover{
  filter: opacity(.5);
}

*{
    margin: 0;
    padding: 0;
}
header{
   width: 100%;
   background: black;
   height: 70px;
}
